.sidebar{
    flex: 0 0 $width-sidebar;
    height: 100%;
    background-color: $color-primary;
   
    &__wrapper{
        margin-top: $margin-small;
        height: 75%;
        display: flex;
        flex-direction: column;
    }
    &__controle-item{
        width: 100%;
        height: 50px;
        display: flex;
        cursor: pointer;
        &.active{
            background-color: $color-primary-dark;
        }
        & img{
            width:40%;
            margin: auto;
        }

    }
}

.sidebar__extension{
    flex: 0 0 0rem;
    width: 30rem;
    height: 100%;
    background-color: white;
    transition: all 0.3s cubic-bezier(0.64, 0, 0.78, 0);
}
.sidebar__extension.open{
    flex: 0 0 30rem;
}
.sidebar__extension-content{
    height: 91%;
    display: flex;
    flex-direction: column;
    & .tab-content{
        flex:auto;
    }
}
.tab-content>.tab-pane {
    overflow-y: scroll;
    min-height: 50vh;
    height: 70vh;
}

.sidebar__extension-header{
    background-color: #ececec;
    display: flex;
    padding: 1rem;
    align-items: center;
    height: 9%;
    & .sidebar__header{
        &-icon{
            width: 4rem;
            height: 4rem;
            background-color: $color-primary;
            padding: 8px;
            & img{
                width: 100%;
                height: auto;
            }
        }
        &-text{
            font-size: 1.6rem;
            font-weight: bold;
            color: $color-primary;
            margin-left: 2rem;
            text-transform: capitalize;
        }
    }         
}               
.tab-pane.show {
    opacity: 1;
}        
.tab-pane.show.empty {
    height: 90%;
    background-color: lightgray;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    padding: 4rem;
}        
ul.tab {
    margin-bottom: 0px;
}
