#register-modal .modal-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8rem;
    padding: 0px 15px 15px;
    border-bottom: 1px solid $color-primary;
    &-icon{
        background-color: $color-primary;
        height: 7rem;
        width: 7rem;
        & img{
            width: 100%;
            height: auto;
            margin-left: 4px;
            margin-top: 6px;
        }
    }
    &-text{
        font-size: 1.4rem;
        color: $color-black;
        line-height: 1.6rem;
        & span{
            font-weight: 600;
            font-size: 1.6rem;
            color: $color-primary;
            display: block;
        }
    }
}
.modal-dialog .modal-body{
    padding: 2.5rem 6rem 8rem;
}
.body__container .modal.in .modal-dialog {
    min-width: 45rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal.fade .modal-dialog {
    width: 45rem;
}
.modal{
    &-body{
        background-color: $color-background;
        & .modal__Register-btn{
            float: right;
        }
    }
    & .modal__signInList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .signIn__Item{
            padding: .5rem;
            width: 33rem;
            display: flex;
            align-items: center;
            background-color: #8b1538;
            color: white;
            margin: .2rem;
            border-radius: 6px;
            &:nth-child(1){
                background-color: #9c5f71;
            }
            &:nth-child(2){
                background-color: #3b589a;
            }
            &:nth-child(3){
                background-color: #55acef;
            }
            &:nth-child(4){
                background-color: #d0422a;
            }
            & .singnIn__Item-icon{
                margin-left: 1rem;
                & img{
                    width: 3.5rem;
                    height: 3.5rem;
                    object-fit: cover;
                }
            }
            & .singnIn__Item-text{
                margin-left: 3rem;
            }
        }
    }

}
.singnIn__Item-icon.u-divider-vertical{
    &::before{
        box-shadow: 0px;
    }
    &::after{
        box-shadow: 0px;
        background-color: $color-white;
    }
}

#airPlanModal {
    &.modal.in .modal-dialog {
        width: 60%;
    }
    & .modal-content{
        background-color: $color-white;
        border: 5px solid $color-primary;
        padding: 5px;
        & .btn-primary{
            margin-top: 14px;
            background-color: #000032;
        }
        & .body__content-wrapper{
            background-color: #000032;
            width: 100%;
            display: flex;
            & .left__section{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 75%;
                padding: 2rem;
                .standout__header-pink{
                    color: $color-white;
                    background-color: #c11f50;
                    font-weight: bolder;
                    display: inline-block;
                    margin-left: 5px;
                    padding: 2px 10px;
                    margin-bottom: 1rem;
                }
                &-img{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    & img{
                        width: 75%;
                        height: auto;
                        object-fit: cover;
                        object-position: center;
                    }
                } 
            }
            & .right__section{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                & .company_Logo{

                    & img{
                        width: 10rem;
                    }
                }
                &-img{
                        width: 100%;
                    & .detail_image{
                        width: 16rem;
                    }
                }
            }
        }
    }
}
#airPlanModal .plan-label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &.label-bottom{
        bottom: -5rem;
        height:3rem;
        width: auto;

        & img {
            object-fit: contain;
            padding: 5px;
            height: 3rem;
            width: auto;
        }
      
    }        
    .body__content-wrapper .left__section-img img {
        object-fit: contain;
        padding: 5px;
        height: 3rem;
        width: auto;
    }
    &.label-top{
        top: -5rem;
        height:3rem;
        width: auto;
        & img {
       
            object-fit: contain;
            padding: 5px;
            height: 3rem;
            width: auto;
        }
        
    }        
    &.label-right,
    &.label-left{
        flex-direction: column;
        & img {
            width: 3rem;
            height: auto;
        }
    } 
    &.label-right{
        right: 0rem;
        top: 40%;
        height: auto;
        width: 3rem;
        & img{
            transform: rotate(270deg);
        }
    }
    &.label-left{
        left: 0rem;
        top: 40%;
        height: auto;
        width: 3rem;
        & img{
            transform: rotate(90deg);
        }
    }
  
}
#airPlanModal .modal-content .body__content-wrapper .right__section-img .labels_image ,
#airPlanModal .modal-content .body__content-wrapper .right__section-img .detail_image {
    width: 90%;
}
#airPlanModal .bottomimg,
#airPlanModal .topimg{
    object-fit: contain !important;
    padding: 5px;
    height: 3rem !important;
    width: auto;
}
.flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 768px){
    .body__container .modal-dialog {
        width: 600px;
        margin: 0; 
    }
}