$color-primary-light: #ae5b74;
$color-primary: #8b1538;
$color-primary-dark: #530d22;

$color-secondary: #ffdf55;

$color-background: #ececec;

$color-gray-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$height-header: 65px;
$width-sidebar: 65px;

$shadow-white: 2px 2px 4px rgba($color-white, 0.1);
$shadow-black: 2px 2px 4px rgba($color-black, 0.3);
$shadow-inset-white:  inset -2px -2px 2px 0px rgba($color-white, 0.1);;
$shadow-inset-black:  inset -2px -2px 2px 0px rgba($color-black, 0.3);;

$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 4rem;